body {
    font-family: Arial, sans-serif;
    background-color: #f4f6f8;
    margin: 0;
    padding: 40px;
}

.container {
    max-width: 900px;
    margin: auto;
}

h1 {
    color: #222;
}

button {
    padding: 8px 15px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.add-btn {
    background-color: #198754;
    color: white;
    text-decoration: none;
    padding: 10px 15px;
    border-radius: 5px;
}

.student-card {
    background: white;
    padding: 20px;
    margin-top: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
}

.edit-btn {
    background-color: #0d6efd;
    color: white;
}

.delete-btn {
    background-color: #dc3545;
    color: white;
}
.message {
    background-color: #d1e7dd;
    color: #0f5132;
    padding: 12px 15px;
    margin: 15px 0;
    border-radius: 5px;
}